.card .card-title {
    color: #ef921e;
    margin-bottom: 0.75rem;
    text-transform: capitalize;
    font-family: "ubuntu-medium", sans-serif;
    font-size: 1.125rem;
}
.btn-danger {
    background: linear-gradient(to right, #ffbf96, #fe7096);
    border: 0;
}
.badge-secondary {
    background: linear-gradient(to right, #e6d706, #ffa705);
    color: #fff;
}
.btn-primary:ho {
    color: #fff;
    background-color: #b66dff;
    border-color: #b66dff;
}
.title-form{
    font-weight: bold;
    font-size: 14px;
}
.card-title{
    color: #b66dff;
    text-align: left;
    font-weight: bold;
}
.form-control {
    border: 1px solid #d4cfd5;
    font-family: "ubuntu-regular", sans-serif;
    font-size: 0.8125rem;
    height: 37px;
    font-size: 14px
}
.custom-tab-user-profile {
    width: 50%;
}
.pills-danger .nav-pills .nav-link.active {
    background: linear-gradient(to right, #ffbf96, #fe7096);
    color: #ffffff;
}
.file-input {
    display: none;
  }