<div class="container-fluid page-body-wrapper">
    <!-- <app-sidebar *ngIf="showSidebar"></app-sidebar> -->
    <div class="main-panel main-panel-customize">
        <div class="content-wrapper">
            <div class="d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="assets/images/logo-no-background.png" alt="logo">
                            </div>
                            <h2>Forget Password!</h2><br />
                            <h4>We have emailed several <span class="email-ddress">{{email_address}}</span> mail accounts. Please check your email to create a new password</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


