<div class="tab-pane" id="changepassword">
    <form name="formaddnew" class="form-horizontal" (ngSubmit)="f2.form.valid && updatePassword(f2)" #f2="ngForm"
        novalidate>
        <div class="form-group">
            <label for="pWD" class="col-sm-2 control-label">{{'Current Password'}}</label>

            <div class="col-sm-4">
                <input type="password" name="current_password" minlength="6" maxlength="50"
                    [(ngModel)]="model.current_password" #current_password="ngModel" class="form-control" id="current_password"
                    autocomplete="off" reverse="true" required />
                <span *ngIf="f2.submitted && !current_password.valid" class="help-block-custom">
                    <i class="fa fa-exclamation-circle" tooltip="Current Password is required" aria-hidden="true"></i>
                </span>
                <span *ngIf="current_password.hasError('minlength')" class="help-block-custom">
                    <i class="fa fa-exclamation-circle" tooltip="Current Password must be at least 6 characters long"
                        aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="pWD" class="col-sm-2 control-label">{{'New Password'}}</label>

            <div class="col-sm-4">
                <input type="password" name="new_password" minlength="6" maxlength="50"
                    [(ngModel)]="model.new_password" #new_password="ngModel" class="form-control" id="new_password"
                    autocomplete="off" validateEqual="confirm_password" reverse="true" required />
                <span *ngIf="f2.submitted && !new_password.valid" class="help-block-custom">
                    <i class="fa fa-exclamation-circle" tooltip="New Password is required" aria-hidden="true"></i>
                </span>
                <span *ngIf="new_password.hasError('minlength')" class="help-block-custom">
                    <i class="fa fa-exclamation-circle" tooltip="New Password must be at least 6 characters long"
                        aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="pWD" class="col-sm-2 control-label">{{'Confirm New Password'}}</label>
            <div class="col-sm-4">

                <input type="password" name="confirm_password" [(ngModel)]="modelChangePass.confirm_password"
                    #confirm_password="ngModel" reverse="false" class="form-control" id="confirm_password"
                    autocomplete="off" validateEqual="new_password" required/>

                <span [hidden]="confirm_password.valid || (confirm_password.pristine && !f2.submitted)"
                    class="help-block-custom">
                    <i class="fa fa-exclamation-circle" tooltip="Confirm Password not match" aria-hidden="true"></i>
                </span>
            </div>

        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button [disabled]="loading||!f2.form.valid" type="submit" class="btn btn-primary">{{languages.update ||
                    'Update'}}</button>
                <i *ngIf="loading" class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
            </div>
        </div>
    </form>
</div>