<div class="container-fluid page-body-wrapper">
    <toaster-container></toaster-container>
    <!-- <app-sidebar *ngIf="showSidebar"></app-sidebar> -->
    <div class="main-panel main-panel-customize">
      <div class="content-wrapper">
        <!-- <app-spinner *ngIf="isLoading"></app-spinner> -->
        <div contentAnimate class="h-100">
          <div class="d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
              <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                  <div class="brand-logo">
                    <img src="assets/images/logo-no-background.png" alt="logo">
                  </div>
                  <h6 class="font-weight-light">Create New Password.</h6>
                  <form class="pt-3" [formGroup]="profileForm">
                    <div class="form-group">
                      <input type="password" formControlName="password" class="form-control form-control-lg" (keyup.enter)="createNewPassword(password.value)" #password id="exampleInputEmail1" #password placeholder="New Password">
                      <p class="error-validate" *ngIf="passwordRequiredError">
                        Password is required
                      </p>
                    </div>
                    <div class="form-group">
                      <input type="password" formControlName="confirmPassword" class="form-control form-control-lg" (keyup.enter)="createNewPassword(password.value)" id="exampleInputPassword1" #confirmpassword placeholder="Confirm New Password">
                      <p class="error-validate" *ngIf="passwordComfirmRequiredError">
                        Password is required
                      </p>
                      <p class="error-validate" *ngIf="passwordMatchError">
                        Password does not match
                      </p>
                    </div>
                    <div class="mt-3">
                      <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" [disabled]="passwordRequiredError || passwordComfirmRequiredError || passwordMatchError" (click)="createNewPassword(password.value)">CHANGE</button>
                    </div>
                  </form>
                  <br />
                  <!-- <a routerLink="../login" class="auth-link text-black">Back login page</a> -->
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div> -->